<!DOCTYPE html>
<html lang="en">
  <head>
      <title>樹木登記冊</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div id="app">
      <div class="container">
          <h2>樹木登記冊</h2>{{postData}}
          <!--<form action="https://www.greening.gov.hk/treeregister/map/iTreeService.asmx/GetTreeBySearch" method="post" enctype='application/json'>-->
          <div>
              <div class="form-group">
                <label for="編號種類">編號種類:</label>
                <select class="form-control" id="ddlCodeType" name="codeType" v-model="postData.codeType">
                  <option value="TreeCode">樹木登記冊編號 </option>
                  <option value="ReferenceNo">部門登記編號</option>
                  <option value="OVTNo">古樹名木編號</option>
                </select>

                <label for="樹木編號">樹木編號:</label>
                <input name="code" type="text" id="txtSearch" v-model="postData.code" placeholder="輸入樹木編號"  class="form-control" />

                <label for="樹木品種">樹木品種:</label>
                <select class="form-control" name="ts" v-model="postData.ts" id="ddlTreeSpecies">
                  <option value="0">全部</option>
                  <option value="台灣相思">台灣相思</option>
                  <option value="木橘(肖木蘋果)">木橘(肖木蘋果)</option>
                  <option value="貝殼杉">貝殼杉</option>
                  <option value="福氏臭椿(常綠臭椿)">福氏臭椿(常綠臭椿)</option>
                  <option value="合歡">合歡</option>
                  <option value="大葉合歡">大葉合歡</option>
                  <option value="石栗">石栗</option>
                  <option value="五月茶(五味子)">五月茶(五味子)</option>
                  <option value="土沉香(牙香樹)">土沉香(牙香樹)</option>
                  <option value="大葉南洋杉">大葉南洋杉</option>
                  <option value="南洋杉(花旗杉)">南洋杉(花旗杉)</option>
                  <option value="異葉南洋杉">異葉南洋杉</option>
                  <option value="麵包樹">麵包樹</option>
                  <option value="桂木(紅桂木)">桂木(紅桂木)</option>
                  <option value="紅花羊蹄甲">紅花羊蹄甲</option>
                  <option value="秋楓">秋楓</option>
                  <option value="重陽木">重陽木</option>
                  <option value="木棉">木棉</option>
                  <option value="澳洲蘋婆">澳洲蘋婆</option>
                  <option value="構樹(殼木)">構樹(殼木)</option>
                  <option value="繡球樹">繡球樹</option>
                  <option value="翠柏">翠柏</option>
                  <option value="臘腸樹(豬腸豆)">臘腸樹(豬腸豆)</option>
                  <option value="節果決明">節果決明</option>
                  <option value="木麻黃">木麻黃</option>
                  <option value="吉貝(美洲木棉)">吉貝(美洲木棉)</option>
                  <option value="朴樹">朴樹</option>
                  <option value="假玉桂(樟葉朴)">假玉桂(樟葉朴)</option>
                  <option value="陰香">陰香</option>
                  <option value="樟">樟</option>
                  <option value="水翁">水翁</option>
                  <option value="樹頭菜(魚木)">樹頭菜(魚木)</option>
                  <option value="鳳凰木">鳳凰木</option>
                  <option value="厚葉黃花樹">厚葉黃花樹</option>
                  <option value="龍眼">龍眼</option>
                  <option value="人面子">人面子</option>
                  <option value="福木">福木</option>
                  <option value="黃桐">黃桐</option>
                  <option value="刺桐">刺桐</option>
                  <option value="銀葉桉">銀葉桉</option>
                  <option value="檸檬桉">檸檬桉</option>
                  <option value="大葉桉">大葉桉</option>
                  <option value="-">-</option>
                  <option value="高山榕(雞榕)">高山榕(雞榕)</option>
                  <option value="環紋榕">環紋榕</option>
                  <option value="垂葉榕">垂葉榕</option>
                  <option value="印度榕(印度橡樹)">印度榕(印度橡樹)</option>
                  <option value="對葉榕(牛乳樹)">對葉榕(牛乳樹)</option>
                  <option value="榕樹(細葉榕)">榕樹(細葉榕)</option>
                  <option value="黃紋榕">黃紋榕</option>
                  <option value="菩提樹">菩提樹</option>
                  <option value="心葉榕(假菩提樹)">心葉榕(假菩提樹)</option>
                  <option value="筆管榕">筆管榕</option>
                  <option value="青果榕">青果榕</option>
                  <option value="大葉榕(黃葛樹)">大葉榕(黃葛樹)</option>
                  <option value="美國灰木">美國灰木</option>
                  <option value="嶺南山竹子(黃牙果)">嶺南山竹子(黃牙果)</option>
                  <option value="銀杏(白果樹)">銀杏(白果樹)</option>
                  <option value="華南皂莢">華南皂莢</option>
                  <option value="幌傘楓 (火通木)">幌傘楓 (火通木)</option>
                  <option value="黃槿">黃槿</option>
                  <option value="泰國大風子">泰國大風子</option>
                  <option value="鐵冬青">鐵冬青</option>
                  <option value="吊瓜樹">吊瓜樹</option>
                  <option value="楓香">楓香</option>
                  <option value="荔枝">荔枝</option>
                  <option value="潺槁樹">潺槁樹</option>
                  <option value="假柿木薑子(假柿樹)">假柿木薑子(假柿樹)</option>
                  <option value="儀花">儀花</option>
                  <option value="血桐">血桐</option>
                  <option value="芒果">芒果</option>
                  <option value="白千層">白千層</option>
                  <option value="楝(苦楝)">楝(苦楝)</option>
                  <option value="白蘭">白蘭</option>
                  <option value="香欖(牛油果)">香欖(牛油果)</option>
                  <option value="東方烏檀">東方烏檀</option>
                  <option value="球花豆">球花豆</option>
                  <option value="盾柱木(雙翼豆)">盾柱木(雙翼豆)</option>
                  <option value="雞蛋花">雞蛋花</option>
                  <option value="百日青">百日青</option>
                  <option value="番石榴">番石榴</option>
                  <option value="紫檀">紫檀</option>
                  <option value="大王椰子(王棕)">大王椰子(王棕)</option>
                  <option value="雨樹">雨樹</option>
                  <option value="木荷(荷樹)">木荷(荷樹)</option>
                  <option value="鐵刀木">鐵刀木</option>
                  <option value="槐">槐</option>
                  <option value="假蘋婆">假蘋婆</option>
                  <option value="桃花心木">桃花心木</option>
                  <option value="烏墨(海南蒲桃)">烏墨(海南蒲桃)</option>
                  <option value="史氏鐘花">史氏鐘花</option>
                  <option value="落羽杉">落羽杉</option>
                  <option value="柚木">柚木</option>
                  <option value="欖仁樹">欖仁樹</option>
                  <option value="香椿">香椿</option>
                  <option value="珊瑚樹">珊瑚樹</option>
                  <option value="藍樹">藍樹</option>
                  <option value="滇刺棗">滇刺棗</option>

                </select>

                <label for="位置">位置:</label>
                <input name="txtSearchLoc" v-model="postData.txtSearchLoc" class="form-control" type="text" id="txtSearchLoc" />

                <label for="地區">地區:</label>
                <select class="form-control" name="distID" v-model="postData.distID" id="ddlDistrict">
                  <option value="0">全部</option>
                  <option value="1">中西區</option>
                  <option value="2">東區</option>
                  <option value="3">南區</option>
                  <option value="4">灣仔區</option>
                  <option value="5">九龍城區</option>
                  <option value="6">觀塘區</option>
                  <option value="7">深水埗區</option>
                  <option value="8">黃大仙區</option>
                  <option value="9">油尖旺區</option>
                  <option value="10">離島區</option>
                  <option value="11">葵青區</option>
                  <option value="12">北區</option>
                  <option value="13">西貢區</option>
                  <option value="14">沙田區</option>
                  <option value="15">大埔區</option>
                  <option value="16">荃灣區</option>
                  <option value="17">屯門區</option>
                  <option value="18">元朗區</option>

                </select>

                <label for="部門">部門:</label>
                <select class="form-control" name="departID" v-model="postData.departID" id="ddlDepartment">
                  <option value="0">全部</option>
                  <option value="1">漁農自然護理署</option>
                  <option value="2">建築署</option>
                  <option value="3">土木工程拓展署</option>
                  <option value="4">渠務署</option>
                  <option value="5">房屋署</option>
                  <option value="6">路政署</option>
                  <option value="7">康樂及文化事務署</option>
                  <option value="8">水務署</option>
                  <option value="9">政務司司長辦公室</option>
                  <option value="10">發展局(文物)</option>
                  <option value="11">衛生署</option>
                  <option value="12">律政司</option>
                  <option value="13">機電工程署</option>
                  <option value="14">消防處</option>
                  <option value="15">食物環境衞生署</option>
                  <option value="16">政府產業署</option>
                  <option value="17">民政事務總署</option>
                  <option value="18">香港郵政</option>
                  <option value="19">地政總署</option>
                  <option value="20">香港警務處</option>
                  <option value="21">港鐵公司</option>
                  <option value="22">地政總署(已租用土地)</option>
                  <option value="23">領展</option>
                  <option value="1050">樹木管理辦事處</option>
                  <option value="1064">教育局</option>
                  <option value="1069">香港海關</option>
                  <option value="1070">香港懲教署</option>
                  <option value="1071">環境保護署</option>
                  <option value="1072">香港廉政公署</option>
                  <option value="1074">保安局</option>
                  <option value="1075">香港天文台</option>
                  <option value="1076">醫療輔助隊</option>
                  <option value="1078">民眾安全服務隊</option>
                  <option value="1079">民航處</option>
                  <option value="1080">政府飛行服務隊</option>
                  <option value="1081">政府化驗所</option>
                  <option value="1082">政府物流服務署</option>
                  <option value="1083">民政事務局</option>
                  <option value="1085">香港電台</option>
                  <option value="1086">社會福利署</option>
                  <option value="1087">運輸署</option>
                  <option value="1088">香港海事處</option>
                  <option value="1090">香港司法機構</option>

                </select>

                <label for="樹木分類">樹木分類:</label>
                <select class="form-control" name="tc" v-model="postData.tc" id="ddlTreeCategory">
                  <option value="0">全部</option>
                  <option value="1">古樹名木</option>
                  <option value="2">石牆樹</option>
                  <option value="3">古樹名木及石牆樹</option>
                  <option value="4">持續監察</option>

                </select>


                <label for="Language">Language:</label>
                <select class="form-control" name="lang" v-model="postData.lang" id="ddlTreeCategory">
                  <option value="zh-HK">zh-HK</option>

                </select>

                <div class="checkbox">
                  <label><input id="chkBRR" type="checkbox" name="brr" value="true" v-model="postData.brr"> 受褐根病感染樹木</label>
                </div>
              </div>
              <button v-on:click="searchTree" class="btn btn-default">Submit</button>
          </div>
          <p>{{response}}</p>
      </div> <!-- end of .container -->
    </div> <!-- end of #app -->
  </body>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data : {
        postData: {
          codeType : 'TreeCode',
          code : '',
          ts : '0',
          distID : '0',
          departID: '0',
          tc: '0',
          lang: 'zh-HK',
          brr: 'false'
        },
        response : 'haha'
      },
      methods : {
        searchTree : function (event){


          this.response = "loading....";
          this.$http.post('searchTree.php', 
            this.postData, 
            {
              headers : {
                'Accept' : 'application/json, text/javascript, */*; q=0.01',
                'Content-Type' : 'application/json',
                'X-Requested-With' : 'XMLHttpRequest'
              }
            }
            
            ).then(response => {
              this.response = response;
              console.log("rec",response);
          }, response => {
            // error callback
            console.log("err",response);
            this.response = response;
        });



          // axios({
          //   method: 'post',
          //   url: 'http://www.greening.gov.hk/treeregister/map/iTreeService.asmx/GetTreeBySearch',
          //   data: string,
          //   headers: {'Content-Type': 'application/json'}
          // });




          // axios.post('http://www.greening.gov.hk/treeregister/map/iTreeService.asmx/GetTreeBySearch',string)
          //   .then(function (res) {
          //     console.log(res);
          //     this.response = "123";
          //   })
          //   .catch(function (error) {
          //     console.log(error);
          //   });
        }
      }
    })
  </script>
</html>